//& Importing Google fonts
@import url('https://fonts.googleapis.com/css2?family=Nabla&family=Poppins:wght@200;300&display=swap');

@mixin flex() {
    display: flex;
    align-items: center;
    justify-content: center;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins";

}

@import "../components//styles/Navbar";
@import "../components/styles/Form";
@import "../components/styles/TodoElement";
@import "../pages/styles/Home";
@import "../pages/styles/Login-Signup-form";

